:root {
  --text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --unpresed-color: #f4f4fd;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.link {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

span {
  color: var(--title-text-color);
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.button-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flax-header .link {
  color: var(--title-text-color);
  font-weight: 500;
}
.flax-header.list .link:hover,
.flax-header.list .link:focus {
  color: var(--pressed-color);
}
.flax-nav .logo.link {
  margin-right: 76px;
}
.flax-header .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.flax.list .link.adres {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adres-nav {
  font-style: normal;
}
.adres-nav .list .link {
  color: var(--text-color);
  font-style: normal;
}
.adres {
  letter-spacing: 0.02em;
}

.adres-nav .link:hover,
.adres-nav .link:focus {
  color: var(--pressed-color);
}
/* SECTION HEROU */
.section-herou {
  text-align: center;
  height: 600px;
  background-color: var(--title-text-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office1.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.herou-title {
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* SECTION-ONE */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-section-one {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  letter-spacing: 0.02em;
  width: 264px;
}
.contaier-one-title {
  margin-right: 24px;
  width: 100%;
}
.dignity {
  width: 264px;
  height: 112px;
  background-color: var(--unpresed-color);
}
.dignity:hover,
.dignity:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}
/* псевдоелемет ::before через ребенка
.dignity:nth-child(1)::before {
  display: block;
  content: "";
  height: 112px;
  background-color: var(--unpresed-color);
  background-image: url(../images/Icon\ 1.svg);
  border-radius: 4px;
}
.dignity:nth-child(2)::before {
  display: block;
  content: "";
  height: 112px;
  background-color: var(--unpresed-color);
  background-image: url(../images/Icon\ 2.svg);
  border-radius: 4px;
}
.dignity:nth-child(3)::before {
  display: block;
  content: "";
  height: 112px;
  background-color: var(--unpresed-color);
  background-image: url(../images/Icon\ 3.svg);
  border-radius: 4px;
}
.dignity:nth-child(4)::before {
  display: block;
  content: "";
  height: 112px;
  background-color: var(--unpresed-color);
  background-image: url(../images/Icon\ 4.svg);
  border-radius: 4px;} */

.two-title,
.three-title,
.four-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section.section-one {
  padding: 120px 0;
}
.section.section-two {
  padding-bottom: 120px;
}
.one-title {
  margin-bottom: 8px;
  margin-top: 8px;
}
.contaier-one-title img {
  background: #f4f4fd;
  border-radius: 4px;
}
.two-title {
  margin-bottom: 72px;
}
.section-three {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.three-title {
  margin-bottom: 72px;
}
.three-title-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-section-three {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}
.one-title,
.two-title,
.three-title,
.three-title-name,
.four-title {
  color: var(--title-text-color);
}
.three-title-background {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
}
.three-title-background:hover,
.three-title-background:focus {
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.three-cards {
  text-align: center;
  padding: 32px 16px;
}
/* SOCIAL */
.social-flex {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-color);
}
.social-flex li {
  height: 40px;
}
.social.link {
  fill: var(--unpresed-color);
}
/*  <---  CUSTOMER  ---> */
.customers {
  padding: 120px 0;
}
.four-title {
  margin-bottom: 72px;
}
.customer-li .link {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.customer-li .link:hover,
.customer-li .link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customer-web.link {
  fill: currentColor;
}
.customer-flex {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  gap: 24px;
  justify-content: center;
}
.customer-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

/* Flex инструкции */
.container.header {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flax-nav {
  display: flex;
  align-items: center;
}

.flax-header.list {
  display: flex;
}
.flax-header.list .li-head:not(:last-child) {
  margin-right: 40px;
}
.adres-nav .flax.list {
  display: flex;
  gap: 40px;
}
.flax-section-one.list {
  display: flex;
}

.contaier-one-title:last-child {
  margin-right: 0px;
}
.flax.list {
  display: flex;
}
.flax.list.cards {
  width: auto;
  display: flex;
  margin-right: 0;
}
.section-two-list {
  margin-right: 24px;
  width: 100%;
}
.section-two-list:last-child {
  margin-right: 0px;
}

.three-title-background:last-child {
  margin-right: 0px;
}
.portfolio.list {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  margin-bottom: 72px;
}
.prof-but {
  margin-right: 24px;
}
.prof-but:last-child {
  margin-right: 0px;
}
.desk.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
/*  */
.herou-title {
  font-size: 56px;
  line-height: 1.07;
}
.herou-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.herou-button:hover,
.herou-button:focus {
  background-color: var(--pressed-color);
}

.button {
  color: var(--primary-color);
  background-color: var(--unpresed-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
/* <---  footer  ---> */
.footer {
  background-color: var(--title-text-color);
}
.footer.footer-botton .container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: #f4f4fd;
}
.footer.footer-botton {
  padding: 100px 0;
}
/* .container .logo.link.footer {
  width: fit-content;
  margin-bottom: 16px;
  /* background-color: #404bbf; */

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  width: fit-content;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--unpresed-color);
  letter-spacing: 0.02em;
  width: 264px;
}

.container-social-media {
  height: 80px;
  width: 208px;
  border-radius: 0px;
}
.container-logo {
  margin-right: 120px;
}
.container-social-media .p-social {
  margin: 0px 0px 16px 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-bg-color);
}
.container-social-media .social-flex {
  margin: 0px;
}
.social-footer {
  display: flex;
  list-style: none;
  gap: 16px;
  padding: 0px;
}
.social-list {
  width: 40px;
  height: 40px;
}
.social-footer .social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-footer .social-link:hover,
.social-footer .social-link:focus {
  background-color: #31d0aa;
}
/* <---  portfolio ---> */
.logo-span {
  color: var(--title-text-color);
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio .button {
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-bg-color);
  background-color: var(--pressed-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-text-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-left: 16px;
}
.text-portfolio {
  margin-left: 16px;
  color: var(--text-color);
}
.portfolio .text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
}

.cards {
  width: calc((100% - 48px) / 3);
}
.cards:nth-child(3n) {
  margin-right: 0px;
}
.cards.cards:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.desk.list .link:hover,
.desk.list .link:focus {
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid coral; */
}
.cards-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
h2.title-text {
  margin-bottom: 8px;
}
.desk.list .link {
  display: block;
}
